#container{
    background-color: #fdfae6;
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
#figl{
    height: 200px;
    width: 200px;
}
h1{
    color: crimson;
    font-family: 'Lucida Sans", "Lucida Sans Regular', 'Lucida Grande', 'Lucida';
    font-size: 24px;
    font-style: italic;
    text-align: center;
}
#f1{
    height: 180px;
    border-radius: 10px;
}
